*{
    padding: 0;
    margin: 0;
}
body{
    padding: 0;
    margin: 0;
}
.overlay{
    width: 100%;
    height: 100%;
    z-index:4;
    position: fixed;
    display: none;
    background-color: rgba(0,0,0,0.2);
}
.chat-input input{
  box-sizing: border-box; /* tambahkan ini */
  flex: 1; /* atur min-height */
  display: flex;
  padding-top: 8px;
  padding-left: 20px;
  padding-right: 10px;
  padding-bottom: 8px;
  justify-content: center;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
  overflow-y: auto; /* tambahkan ini */
  width: 260px;
  outline: none;
  border: none;
  
  
}

/* The side navigation menu */
.sidenav {
 display: flex;
 flex-direction: column;
 align-items: center;
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 5; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #333; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 0px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.overlay{
    width: 100%;
    height: 100%;
    z-index:4;
    position: fixed;
    display: none;
    background-color: rgba(0,0,0,0.2);
}
.sidenav .navbar-sidebar{
display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  color: #fff;
  height: 90px;
  padding: 30 20px;
  width: 80%;
  
}
.sidenav .navbar-sidebar .fa-angle-left{
    font-size: 28px;
    margin-right: 30px;
}
.sidenav .divider{
    margin: 30 0px;
    width: 80%;
    height: 1px;
    background-color: green;
}
.sidenav .kosong{
    height: 100%;
    width: 100%;
}
.sidenav .navbar-sidebar .setting{
width: 100%;
display: flex;
}
.sidenav .navbar-sidebar-footer{
display: flex;
  align-items: center;
  background-color: transparent;
  color: #fff;
  height: 120px;
  padding: 0 20px;
  width: 80%;
  font-size: 18px;
}
.sidenav  .profile-user{
    width: 100%;
    height: 50px;
    margin: 20 0px;
    display: flex;
    align-items: center;
    color: white;
}
.sidenav .profile-user img{
    width: 35px;
    height: 35px;
    margin: 0 10px;
    margin-left: 30px;
    border-radius: 100%;
    border: 2px solid white;
}
/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.container{
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    align-items: center;
    background-color: #333;
}

.container .navbar{
display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  color: #fff;
  height: 80px;
  padding: 0 20px;
  background-color: #333;
  width: 100%;
}
.navbar .logo {
  flex-grow: 0;
  flex-shrink: 0;
  color: white;
font-size: 25px;
 margin: 0 20px;
}

.navbar .menu {
    
  display: flex;
  flex-grow: 1;
  justify-content: center;
   
}

.navbar .menu-item {
   width: 100%; 
  margin-right: 20px;
  color: white;
  font-size: 25px;
  padding: 0 20px;
text-decoration: none;
}

.navabar .menu-item:last-child {
  margin-right: 0;
}

.navbar .menu-button {
  flex-grow: 0;
  flex-shrink: 0;
color: white;
font-size: 25px;
margin: 0 20px;
 
}
.navbar #input-text{
    display: none;
}
.navbar .input-box{
    display: flex;
    flex-direction: column;
    width: 70%;
    padding: 0 20px;
    
}
.navbar .input-box p{
    font-size: 25px;
}
.container .online{
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
      background-color: #00BFA1;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
}
.container .online .user-profil{
    width: 100%;
    height: 100%;
    background-color: #00BFA1;
    
}
.container .online .user-profil{
    width: 100%;
    height: 90px;
    background-color: #00BFA1;
}    
.container .online .user-profil ul{
    width: 100%;
    height: 60px;
    list-style: none;
    display: grid;
  grid-template-columns: repeat(100, 1fr); /* Mengatur 10 kolom dengan lebar sama */
  overflow-x: auto; /* Menambahkan scrollbar horizontal */
  width: 100%;
  background-color: transparent;
  white-space: nowrap; /* Mencegah baris baru pada setiap item */

  justify-content: start;
  height: 90px;
  scrollbar-width: none; /* Menyembuny*/
}
ul::-webkit-scrollbar {
  display: none;
}
.container .online .user-profil ul li{
  width: 50px;
  margin: 0 16px;
display:flex;
flex-direction: column;
justify-content: center;
align-items: center;
color: white;
background-color: transparent;
}
.container .online .user-profil ul li p{
margin: 0 8px;   
display:flex;
align-items: center;
justify-content: center;
color: white;
background-color: transparent;
}
.container .online .user-profil ul li img{
    background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  border-radius: 100%;
  box-shadow: inset 0 -4em 3em rgba(0, 0, 0, 0.1), 0 0 0 0px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
   overflow: hidden;
   width: 50px;
   height: 50px;
   margin: 8 0px;
   border: 2px solid white;
}
.container .online .title{
    width: 100%;
    height: 40px;
    padding: 8px;
    background-color: #00BFA1;
}
.container .online .title h5{
    margin:8 20px;
    color: white;
    font-size: 1rem;
}


.container .kategori ul{
  list-style: none;
  display: flex;
  padding: 8 20px;
  background-color: transparent;
}
.container .kategori ul li{
  list-style: none;
  display: flex;
    margin:8 30px;
  color: lightgrey;
  font-size: 1.2rem;
}
.container .chat{
    width: 100%;
    height: 100%;
    background-color: white;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    margin-top: 20px;
    overflow: hidden;
}
.container .chat ul{
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container .chat ul li{
    width: 100%;
    list-style: none;
    display: flex;
    align-items: center;
    margin: 8 30px;
    background-color: transparent;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
.container .chat ul li .chat-name{
width: 100%;
display: flex;
flex-direction: column;
justify-content: center;
}
.container .chat ul li .chat-name p{
margin: 4 0px;
}
.container .chat ul li .time b{
margin: 4px;
}
.container .chat ul li .time{
width: 50px;
margin: 0 20px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
background-color: transparent;
}
.container .chat ul li .time .notif{
width: 16px;
height: 16px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
background-color: #00BFA1;
border-radius: 100%;
font-size: 8px;
color: white;
}
.container .chat ul li img{
    width: 50px;
height: 50px;
margin: 10px;
 border-radius: 100%;
}
.active{
    color: white;
}