
body{
    padding: 0;
    margin: 0;
    background-color: lightblue;
}

/*Login.html*/
/*Dan*/
/*Register.html*/

.container_login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: lightblue;
 
}
.container_login .from_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    width: 100%;
    height: 60%;
    padding: 16px;
}
.container_login .from_container .con_img{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: transparent;
  
}
.container_login .from_container .con_img img{
    width: 200px;
    height: 200px;
    margin-top: 30px;
    border-radius: 100%;
    border: 2px solid black;
}
.container_login .from_container .con_button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 340px;
    background-color: transparent;
  
}
.container_login  .con_sosial{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: transparent;
  
}
.container_login .sosial_icon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: transparent;
  
}
.container_login .from_container .con_text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: transparent;
  
}

.container_login .from_container .con_button #sign_in{
    background-color: #00ABFF;
    border: none;
    outline: none;
    width: 100px;
    padding:8px;
    margin: 0 15px;
    border-radius: 180px;
     box-shadow: inset 0 -4em 3em rgba(0, 0, 0, 0.1), 0 0 0 1px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
     color: white; 
}
.container_login .from_container .con_button #sign_up{
    background-color: transparent;
    border: none;
    outline: none;
    width: 100px;
    padding:8px;
    margin: 0 15px;
    border-radius: 180px;
     box-shadow: inset 0 -4em 3em rgba(0, 0, 0, 0.1), 0 0 0 1px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
     color: black; 
}


.container_login .con_sosial .sosial_icon .fa-facebook{
    background-color: #00ABFF;
height: 50px;
    width: 50px;
      border-radius: 100%;
    color: white;
    border: none;
    margin: 0 10px;
    box-shadow: inset 0 -4em 3em rgba(0, 0, 0, 0.1), 0 0 0 0px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    margin: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container_login .con_sosial .sosial_icon  .fa-google{
    margin: 4px;
    background-color: salmon;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    color: white;
    border: none;
    margin: 0 10px;
    box-shadow: inset 0 -4em 3em rgba(0, 0, 0, 0.1), 0 0 0 0px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
     display: flex;
    justify-content: center;
    align-items: center;
}
